---
import { SITE } from 'astrowind:config';
---

<span class="flex items-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <!-- 图标开始 -->
  <svg class="w-8 h-8 mr-1 text-blue-600 dark:text-blue-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M9 3l1 3l-4 .5z"></path>
    <path d="M13 3l-1 3l4 .5z"></path>
    <path d="M12 12a3 3 0 1 0 -3 -3"></path>
    <path d="M16 16v4h-8v-4l-2 -3h12z"></path>
  </svg>
  <!-- 图标结束 -->
  Zxt AI 实验室
</span>
