---
import { SITE } from 'astrowind:config';
---

<span class="flex items-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <!-- 图标开始 -->
  <svg class="w-8 h-8 mr-1 text-blue-600 dark:text-blue-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
    <path d="M12 12l8 -8"></path>
    <path d="M20 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
    <path d="M12 12l-8 -8"></path>
    <path d="M4 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
    <path d="M20 20m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
    <path d="M4 20m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
    <path d="M12 12l8 8"></path>
    <path d="M12 12l-8 8"></path>
  </svg>
  <!-- 图标结束 -->
  Zxt AI 实验室
</span>
